img {
    width: 50%;
}

main {
    width: 60%;
    margin: auto;
    text-align: center;
}

section {
    background-color: #d86258;
    
}

p {
    width: 46%;
    padding: 0px 2%;
    float: left;
    text-align: left;
}